
* {
    font-family: "Poppins", sans-serif;
}

footer {
    /*background-color: black;*/
    /*height: 430px;*/

   /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);*/

   background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.container_sections_footer {
    max-width: 1700px;
    margin: auto;

    padding-bottom: 30px;
}


.informacoes {
    display: flex;
    /*padding: 100px;*/

}

.info_footer_informacoes, .info_footer_objetivos {
    /*padding:100px;*/

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    font-family: "Poppins", sans-serif;
    /*font-weight: 700;*/
    font-style: normal;
    font-size: 13px;
    color: #ffffffef;
    
    /*Para que o espaço em que ficará o texto, fique dividido igualmente entre os dois temas (informações e objetivos)*/
    width: 50%;
}

.info_footer_informacoes>h1, .info_footer_objetivos>h1 {
    color: white;
    
}

.info_footer_informacoes>p, .info_footer_objetivos>p {
    margin-top: 12px;
}

.contatos {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.contatos >h1 {
    color: #fff;
    padding-left: 50px;
    font-size: 20px;
    
}

.linha_footer {
    margin-top: 30px;
    background: blueviolet;
    height: 1px;
    border: none;
    
}

.linha_footer {
    background: linear-gradient(86deg, #6313bf, #0e86ca, #ca0e0e);
    background-size: 600% 600%;

    -webkit-animation: linha_do_footer 30s ease infinite;
    -moz-animation: linha_do_footere 30s ease infinite;
    -o-animation: linha_do_footer 30s ease infinite;
    animation: linha_do_footer 30s ease infinite;
}

@-webkit-keyframes linha_do_footer {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes linha_do_footer {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-o-keyframes linha_do_footer {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes linha_do_footer {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}





.links_footer {
    list-style: none;
    
    display: flex;
    padding-right: 50px;
}

.rede_social_1, .rede_social_2, .rede_social_3 {
    margin-right: 25px;
    color: #fff;
    transition: all 1s;
}

/*
.rede_social_1:hover, .rede_social_2:hover, .rede_social_3:hover {
    color: blue;
    transition: all 1s;
} */

.creditos {
    display: flex;
    justify-content: center;
    /*margin-top: 90px;*/
    margin-top: 70px;
}

.creditos>a {
    text-decoration: none;
}

.creditos>a>p{
    color: #fff;
    
}

.links_footer>.rede_social_1, .rede_social_2, .rede_social_3{
    font-size: 25px;

    height: 40px;
    width: 40px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    /*color: #060606;*/
}

.rede_social_1>a, .rede_social_2>a, .rede_social_3>a {
    color: #060606;
}

@media (max-width: 500px) {
    .info_footer_informacoes, .info_footer_objetivos {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    }

    .contatos{
        align-items: center;
    }

    .contatos >h1 {
        padding-left: 20px;
        font-size: 16px;
    }

    .links_footer {
        padding-right: 20px;
    }

    .creditos {
        margin-top: 40px;
    }

    .creditos>a {
        font-size: 13px;
    }
}
