* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #fff;*/
    min-height: 100vh;
    background-color: whitesmoke;
}

nav {
    display: flex;
    margin-top: 0px;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    height: 70px;
    width: 100%;
    align-items: center;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

nav {
    background: linear-gradient(163deg, #242fc8, #27bfc1, #c127bb, #c12748, #b47d0f);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 130s ease infinite;
    -moz-animation: AnimationName 130s ease infinite;
    -o-animation: AnimationName 130s ease infinite;
    animation: AnimationName 130s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}
@keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
}




.ul_container_navbar {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.ul_container_navbar > li {
    padding-left: 20px;
    transition: all 0.3s ease-out;

}
.ul_container_navbar > .black_light_icon {
    align-items: center;


}

.ul_container_navbar > li > a {
    text-decoration: none;
    color: aliceblue;

}

.ul_container_navbar>li:hover {
  transform: scale(1.05);
  
}

/*__________________________________________________________________________________________________*/

/* main {
  margin-bottom: 75px;
} */


.title_initial {
    display: flex;
    justify-content: center;
    padding: 20px;

    background-color: #9a82ca12;
}

.title_initial >h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: brown;
}

.title_playlists>h3 {
    text-align: center;
    padding: 20px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: blueviolet;
}

.title_playlists>.text_alert_mobile {
    display: none;
}

@media (max-width: 800px){
    .title_playlists>.text_alert_mobile {
        display: block;
        text-align: justify;
    }
    
    .title_playlists>h3 {
        display: none;
    }
}


.soundcloud_musics> iframe {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    width: 400px;

    margin: 12px;
    padding: 12px;
    
    
}


.btn_style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #242fc8;
  width: 70px;
  height: 50px;
  border-radius: 60px 60px;
  color: #fff;
  cursor: pointer;

  border: none;

  transition: all 0.5s ease-in-out;
}

.btn>span {
    transition: all 0.5s ease-in-out;
}

.btn>span:hover{
  transition: all ease-in-out 0.5s;
  transform: scale(1.1);

  
  font-weight: 900;
}

.dark_theme {
  background-color: #202020;
  
}

